<div class="modal is-active">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Confirm the deletion</p>
      </header>
      <section class="modal-card-body">          
        <p>Are you sure that you want to delete this todo entry?</p> 
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="onConfirm()">Yes</button>
        <button class="button" (click)="onCloseClick()">No</button>
      </footer>
    </div>
</div>