<div class="container is-centered">
  <br>  
  <div class="columns">
    <div class="column">
      <h1 class="title is-s">Minimalist To-Do List</h1>
    </div>    
    <div class="column is-one-fifth">
      <button id= "importButton" class="button">Import</button> 
      <div class="divider"></div>
      <button class="button" (click)="onExport()">Export</button>
    </div>
  </div>
  <br>

  <app-input-bar (submitted)="submitNew($event)"></app-input-bar>
  <br>

  <app-task-bar [taskList]="listOfTasks" (change)="popupOpen" (selected)="onClick($event)"
    (completed)="onUpdateValue($event)"></app-task-bar>
</div>

<app-popup *ngIf="popupOpen" [index]="select" (close)="popupOpen=false" (confirm)="onDelete(select); popupOpen=false">
</app-popup>


<input id="fileInput" type="file"  (change)="fileChanged($event)" style="visibility: hidden;" >