<div class="table  is-fullwidth">
    <thead>
        <th>
            <div>Status</div>
        </th>
        <th>
            <div style="width: 1000px">Task</div>
        </th>
        <th>
            <div>Delete</div>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let task of taskList">
            <td><input class="checkbox" type="checkbox" [checked]="task.status"
                    (click)="updateValue(task['taskNumber'])" /></td>
            <td>
                <div [ngStyle]="{color: task.status? 'grey': 'black'}">{{task.entry}}</div>
            </td>
            <td><button class="delete is-large" (click)="onClick(task['taskNumber'])"></button></td>
        </tr>
    </tbody>
</div>